:root{
    --green : rgb(65, 80, 27);
    --blue : rgb(24, 32, 109);
}
body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, rgb(14, 9, 34), rgb(6, 20, 32));
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    place-content: center;
}
@keyframes bodydisplay {
    0%{
        visibility: collapse;
    }
    100%{
        visibility: visible;
    }
}

/* main */
main{
    position: relative;
    min-height: 100%;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
}
/* image */
.image{
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    width: 350px;
    height: 600px;
    visibility: hidden;
    animation-name: bodydisplay;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* container */
.container{
    z-index: 2;
    width: 350px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    visibility: hidden;
    animation-name: bodydisplay;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* header */
.header h1{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    font-family: monospace;
    margin: 40px;
    color:var(--blue);
}

/*form-box */
.form-box{
    padding: 30px;
}
/* h3 */
h3{
    text-align: center;
    font-weight: 300;
    font-family: sans-serif;
    margin: 0 auto 40px auto;
}
/* username and password */
.form-box .input label{
    position: absolute;
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: var(--green);
    top: -9px;
    left: 0;
}
.form-box .input{
    border-bottom:2px solid rgba(0, 0, 0, 0.5);
    padding: 8px 0 0 0;
    position: relative;
    margin-bottom: 30px;
}
.form-box .input input{
    border: none;
    outline: none;
    height: 100%;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    padding: 0;
    background-color: transparent;
}
.form-box .input input:focus{
    background: rgba(0, 0, 0, 0.06);
    transition: .5s; 
}
.form-box .input input:focus ~ label{
    top: -15px;
    transition: all .5s;
    color: rgb(2, 41, 66);
}
.form-box .input input:focus ~ label ~ div{
    width: 100%;
    height: 2px;
    background-color: rgb(2, 41, 66);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: all .5s;
}

/* forgot password */
.form-box a{
    display: block;
    text-decoration: none;
    color: var(--green);
    font-size: 13px;
    font-weight: 800;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: right;
}
.form-box a:hover{
    text-decoration: underline;
    color:rgba(0, 0, 0, 0.8) ;
}

/* login */
.form-box input[type="submit"]{
    width: 70%;
    display: block;
    border-radius: 20px;
    height: 40px;
    border: none;
    background-image: linear-gradient(120deg, var(--blue), rgb(6, 20, 32));
    margin: 15px auto 0 auto;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgb(14, 9, 34);
}
.form-box input[type="submit"]:hover{
    background-image: linear-gradient(120deg, rgb(14, 9, 34), rgb(6, 20, 32));
}

/* or */
.or{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    margin: 5px auto;
    width: 100%;
}
hr{
    width: 40%;
    font-size: 1px;
    border: .5px solid black;
}
.or p{
    width: 10%;
    text-align: center;
    font-weight: bold;
}

/* google */
.or ~ a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(22, 22, 22);
    color: var(--blue);
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    margin: 20px auto 30px auto;
}

/* new */
.new{
    font-size: 1rem;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    color: var(--green);
}
.new a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    text-decoration: underline;
}

@media screen and (min-width:768px) {
    body{
        display: grid;
        place-content: center;
    }
    main{
        height: max-content;
        display: flex;
        width: max-content;
    }
    .image, .container{
        z-index: 1;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
    }
    .image{
        opacity: 1;
    }
    .container{
        background-color: rgba(255, 255, 255, 0.8);
    }
}